/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/work
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed

# IDE Helper Model File
_ide_helper_models.php

# プロジェクトの動作には影響のないOS由来の隠しファイルを無視する
.DS_Store
.Spotlight-V100
.Trashes
Icon\r
Thumbs.db
ehthumbs.db
Desktop.ini
