.bg-light {
    background-color: initial !important; /* デフォルト値に戻す */
}

.app-background {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2)), url('/images/windows.jpg') center center / cover;
    z-index: -1;
}

.navbar-nav {
    margin-left: auto;
    text-align: right; /* テキストを右寄せ */
}

.collapse {
    visibility: visible !important; /* デバッグ用）メニューが開いた状態にする */
}

.dropdown-menu {
    min-width: 300px; /* ドロップダウンの最低幅を指定 */
    max-width: 1000px; /* 必要に応じて最大幅も指定 */
    white-space: normal; /* テキストの折り返しを許可 */
    text-align: right; /* テキストを右寄せ */
}

.dropdown-item form {
    display: block;
    width: 100%; /* フォームの幅をドロップダウンメニューに合わせる */
}

.dropdown-item input[type="file"] {
    width: 100%; /* ファイル選択ボックスの幅を100%に設定 */
}
